.body-dark {
  background-color: #363636;
  transition: background-color ease-in-out 0.5s;
}

.container-dark {
  position: relative;
  box-shadow: 0px 23px 0px 5px rgb(26, 26, 26), 0px 1px 0px 5px rgb(26, 26, 26);
}

.container-dark > div:hover {
  color: var(--main-light-color);
}

.name-dark {
  color: #ffbcbc;
  background-image: linear-gradient(rgba(255, 255, 255, 0) 90%, #ffbcbc 55%);
}

.github-top-dark {
  background-color: #ffbcbc;
}

.github-bottom-dark {
  background-color: #ffbcbc;
}

.name-dark:hover {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0) 90%,
    var(--main-light-color) 55%
  );
}

.definition-dark {
  color: #ffbcbc;
}

.github-top-dark:hover {
  background-color: var(--main-light-color);
}

.github-bottom-dark:hover {
  background-color: var(--main-light-color);
}
